name: Upload Android build to App Tester.
on:
  push:
    branches-ignore:
      - master
  workflow_run:
    workflows:
      - Code Quality and Tests
    types:
      - completed

jobs:
  build_apk:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch != 'master' }}
    name: Build Flutter (Android)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Write google-services.json file
        run: |
          cd android/app
          echo $GOOGLE_SERVICES | base64 -d > google-services.json
        shell: bash
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}

      - name: Write .env file
        run: |
          echo $ENV | base64 -d > .env
        shell: bash
        env:
          ENV: ${{ secrets.ENV }}

      - name: Write key.properties file
        run: |
          echo $KEY_PROPERTIES | base64 -d > android/key.properties
        shell: bash
        env:
          KEY_PROPERTIES: ${{ secrets.KEY_PROPERTIES }}

      - name: Create keystore folder
        run: mkdir -p android/keystore

      - name: Write laozi_ai_release.keystore file
        env:
          RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
        run: |
          echo $RELEASE_KEYSTORE | base64 --decode > android/keystore/laozi_ai_release.keystore

      - name: Write laozi_ai_debug.keystore file
        run: |
          echo $DEBUG_KEYSTORE | base64 -d > android/keystore/laozi_ai_debug.keystore
        shell: bash
        env:
          DEBUG_KEYSTORE: ${{ secrets.DEBUG_KEYSTORE }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get

      - name: Generate code using build_runner
        run: dart run build_runner build --delete-conflicting-outputs
        shell: bash

      - run: flutter build apk --release
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk-build
          path: build/app/outputs/apk/release/app-release.apk

  beta_apk:
    name: Upload Android Beta version to Firebase App Distribution
    needs: [ build_apk ]
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: apk-build
      - name: Display structure of downloaded files
        run: ls -R
      - name: Upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{secrets.FIREBASE_ANDROID_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: testers
          file: app-release.apk
